RewriteEngine On
RewriteRule ^create$ create.php [L]
RewriteRule ^read$ read.php [L]
RewriteRule ^update$ update.php [L]
RewriteRule ^delete$ delete.php [L]
RewriteRule ^readSingle$ readSingle.php [L]

